
@import "tailwindcss";

@theme {
  --font-general: 'Sansation';
  --font-second: 'DM Serif Text';
  --color-mako-50: #f5f5f6;
  --color-mako-100: #e4e5e9;
  --color-mako-200: #cdd0d4;
  --color-mako-300: #a9adb7;
  --color-mako-400: #7f8591;
  --color-mako-500: #646a76;
  --color-mako-600: #555965;
  --color-mako-700: #494c55;
  --color-mako-800: #42444b;
  --color-mako-900: #393a40;
  --color-mako-950: #232429;

--color-blue-ribbon-50: #eff5ff;
--color-blue-ribbon-100: #dae8ff;
--color-blue-ribbon-200: #bdd8ff;
--color-blue-ribbon-300: #90bfff;
--color-blue-ribbon-400: #5b9dff;
--color-blue-ribbon-500: #3577fc;
--color-blue-ribbon-600: #1f56f1;
--color-blue-ribbon-700: #1741de;
--color-blue-ribbon-800: #1a36b3;
--color-blue-ribbon-900: #1b328d;
--color-blue-ribbon-950: #152156;

  --color-mantis-50: #f3faeb;
  --color-mantis-100: #e5f3d4;
  --color-mantis-200: #cde8ae;
  --color-mantis-300: #acd87e;
  --color-mantis-400: #91c75a;
  --color-mantis-500: #6fab37;
  --color-mantis-600: #558729;
  --color-mantis-700: #426823;
  --color-mantis-800: #375321;
  --color-mantis-900: #304720;
  --color-mantis-950: #17260d;

}

.sansation-light {
  font-family: "Sansation", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.sansation-regular {
  font-family: "Sansation", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.sansation-bold {
  font-family: "Sansation", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.chewy {
  font-family: "Chewy", system-ui;
  font-weight: 400;
  font-style: normal;
}

.background {
  background-image: url('/images/help.jpg');
    background-color: rgba(255, 249, 249, 0.5);
    background-blend-mode: overlay;
}

.background2 {
  background-image: url('/images/help-horizontal.jpeg');
    background-color: rgba(255, 249, 249, 0.8);
    background-blend-mode: overlay;
}

.background-bureau {
  background-image: url('/images/IMG_3082.JPG');
    background-color: rgba(255, 249, 249, 0.7);
    background-blend-mode: overlay;
    background-position: center;
    background-size: cover;
}

.background-bureau-2 {
  background-image: url('/images/IMG_3081.JPG');
    background-color: rgba(255, 249, 249, 0.5);
    background-blend-mode: overlay;
    background-position: center;
    background-size: cover;
}
